-
  var options = {
    prev_text: '<i class="fa fa-chevron-left"></i>',
    next_text: '<i class="fa fa-chevron-right"></i>',
    mid_size: 1,
    escape: false
  }
- 
  var bgcolor = (theme.theme_color.main || '').replace(/#?(\w{2})(\w{2})(\w{2})/,(a,b,c,d,e,f)=>{
    return [b,c,d].map(n=>{return parseInt(n,16)}).join(',')
  });

if(!is_post())
  nav#pagination
    div.pagination
      !=paginator(options)
else
  nav#pagination.pagination_post(style=`background-color:rgba(${bgcolor},0.6)`)
    if(page.prev)
      if(page.next)
        .prev-post.pull_left
          - var pagination_cover = page.prev.cover
          a(href=url_for(page.prev.path))
            //- if theme.lazyload.enable
            //-   img.prev_cover.lazyload(data-src=`${pagination_cover}` onerror=`onerror=null;src='${theme.lodding_bg.post_page}'` )
            //- else
            //-   img.prev_cover(src=`${pagination_cover}` onerror=`onerror=null;src='${theme.lodding_bg.post_page}'` )

            .label=_p('pagination.prev')
            .prev_info
              span=page.prev.title
      else
        .prev-post.pull-full
          - var pagination_cover = page.prev.cover
          a(href=url_for(page.prev.path))
            //- if theme.lazyload.enable
            //-   img.prev_cover.lazyload(data-src=`${pagination_cover}` onerror=`onerror=null;src='${theme.lodding_bg.post_page}'`)
            //- else
            //-   img.prev_cover(src=`${pagination_cover}` onerror=`onerror=null;src='${theme.lodding_bg.post_page}'`)
            .label=_p('pagination.prev')
            .prev_info
              span=page.prev.title
          
    if(page.next)
      if(page.prev)
        .next-post.pull_right
          - var pagination_cover = page.next.cover
          a(href=url_for(page.next.path))
            //- if theme.lazyload.enable
            //-   img.next_cover.lazyload(data-src=`${pagination_cover}` onerror=`onerror=null;src='${theme.lodding_bg.post_page}'`)
            //- else
            //-   img.next_cover(src=`${pagination_cover}` onerror=`onerror=null;src='${theme.lodding_bg.post_page}'`)            
            .label=_p('pagination.next')
            .next_info
              span=page.next.title 
      else
        .next-post.pull-full
          - var pagination_cover = page.next.cover
          a(href=url_for(page.next.path))
            //- if theme.lazyload.enable
            //-   img.next_cover.lazyload(data-src=`${pagination_cover}` onerror=`onerror=null;src='${theme.lodding_bg.post_page}'`)
            //- else
            //-   img.next_cover(src=`${pagination_cover}` onerror=`onerror=null;src='${theme.lodding_bg.post_page}'`)
            .label=_p('pagination.next')
            .next_info
              span=page.next.title      

